footer {
    background-image: linear-gradient(to bottom, goldenrod, white, transparent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

@media only screen and (max-width: 768px){
    footer{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        color: gray;
  }   
}
